<robot name="rover_arm">
<link name="base">
<!-- first link is the base of the arm to be anchored to the world-->
<!-- Mass properties of Assem3^Rover-Arm-Full-Asm
     Configuration: Default
     Coordinate system:  default

Mass = 1.206 kilograms

Volume = 18.080 cubic inches

Surface area = 0.143 square meters

Center of mass: ( meters )
	X = 0.032
	Y = 0.026
	Z = 0.000

Principal axes of inertia and principal moments of inertia: ( kilograms * square meters )
Taken at the center of mass.
	 Ix = ( 0.727,  0.686,  0.000)   	Px = 0.001
	 Iy = (-0.686,  0.727,  0.000)   	Py = 0.006
	 Iz = ( 0.000,  0.000,  1.000)   	Pz = 0.006

Moments of inertia: ( kilograms * square meters )
Taken at the center of mass and aligned with the output coordinate system.
	Lxx = 0.003	Lxy = 0.002	Lxz = 0.000
	Lyx = 0.002	Lyy = 0.004	Lyz = 0.000
	Lzx = 0.000	Lzy = 0.000	Lzz = 0.006

Moments of inertia: ( kilograms * square meters )
Taken at the output coordinate system.
	Ixx = 0.004	Ixy = 0.003	Ixz = 0.000
	Iyx = 0.003	Iyy = 0.005	Iyz = 0.000
	Izx = 0.000	Izy = 0.000	Izz = 0.008
    measurements:
    width: .13m
    length: .13m 
    height: .11m -->
	
    <visual>
        <geometry>
            <box size="0.13 0.13 0.11"/> <!-- all units are in meters-->
        </geometry>
    </visual>
    <collision>
        <geometry>
		<box size=".13 0.13 0.11"/>
		</geometry>
    </collision>
	<inertial>
		<mass value="1.206"/> <!-- this is the mass in kilograms-->
		<inertia ixx="0.003" ixy="0.003" ixz="0.00" iyy="0.005" iyz="0.0" izz="0.008"/> <!-- moment of inertia in kg/m-->
	</inertial>
</link>

<link name="Shoulder">
<!--Mass properties of Assem2^Rover-Arm-Full-Asm
     Configuration: Default
     Coordinate system: default

* Includes the mass properties of one or more hidden components/bodies.

Mass = 2.333 kilograms

Volume = 59.340 cubic inches

Surface area = 0.268 square meters

Center of mass: ( meters )
	X = 0.000
	Y = 0.178
	Z = -0.070

Principal axes of inertia and principal moments of inertia: ( kilograms * square meters )
Taken at the center of mass.
	 Ix = ( 0.003, -0.308,  0.951)   	Px = 0.005
	 Iy = ( 0.014, -0.951, -0.308)   	Py = 0.020
	 Iz = ( 1.000,  0.014,  0.001)   	Pz = 0.024

Moments of inertia: ( kilograms * square meters )
Taken at the center of mass and aligned with the output coordinate system.
	Lxx = 0.024	Lxy = 0.000	Lxz = 0.000
	Lyx = 0.000	Lyy = 0.018	Lyz = -0.004
	Lzx = 0.000	Lzy = -0.004	Lzz = 0.006

Moments of inertia: ( kilograms * square meters )
Taken at the output coordinate system.
	Ixx = 0.109	Ixy = 0.000	Ixz = 0.000
	Iyx = 0.000	Iyy = 0.030	Iyz = -0.034
	Izx = 0.000	Izy = -0.034	Izz = 0.080
    measurements: .41m in length
    0.08m diameter -->
    <visual>
        <geometry>
		
			<cylinder radius="0.04" length="0.41"/>

		

        </geometry>

    </visual>
	<collision>
		<cylinder radius="0.04" length="0.41"/>
	</collision>
	<inertial>
		<mass value="2.333"/>
		<inertia ixx=".109" ixy="0.0" ixz="0.0" iyy="0.030" iyz="-0.034" izz="0.080"/>
	</inertial>
    
</link>

<link name="Elbow">
    <!-- Mass properties of Assem4^Rover-Arm-Full-Asm
     Configuration: Default
     Coordinate system: default 

* Includes the mass properties of one or more hidden components/bodies.

Mass = 0.602 kilograms

Volume = 12.206 cubic inches

Surface area = 0.087 square meters

Center of mass: ( meters )
	X = 0.002
	Y = 0.199
	Z = -0.264

Principal axes of inertia and principal moments of inertia: ( kilograms * square meters )
Taken at the center of mass.
	 Ix = ( 0.038,  0.994, -0.103)   	Px = 0.001
	 Iy = ( 0.215,  0.092,  0.972)   	Py = 0.002
	 Iz = ( 0.976, -0.059, -0.210)   	Pz = 0.002

Moments of inertia: ( kilograms * square meters )
Taken at the center of mass and aligned with the output coordinate system.
	Lxx = 0.002	Lxy = 0.000	Lxz = 0.000
	Lyx = 0.000	Lyy = 0.001	Lyz = 0.000
	Lzx = 0.000	Lzy = 0.000	Lzz = 0.002

Moments of inertia: ( kilograms * square meters )
Taken at the output coordinate system.
	Ixx = 0.068	Ixy = 0.000	Ixz = 0.000
	Iyx = 0.000	Iyy = 0.042	Iyz = -0.032
	Izx = 0.000	Izy = -0.032	Izz = 0.026
    measurements: .21m in length
    0.06  diameter-->
	   <visual>
        <geometry>
		
			<cylinder radius="0.03" length="0.21"/>
			
		

        </geometry>

    </visual>
	<collision>
		<cylinder radius="0.03" length="0.21"/>
	</collision>
	<inertial>
		<mass value="0.602"/>
		<inertia ixx="0.068" ixy="0.0" ixz="0.0" iyy="0.042" iyz="-0.032" izz="0.026"/>
	</inertial>
</link>

<link name="Wrist">
<!-- Mass properties of Spherical Wrist 1
     Configuration: Default
     Coordinate system: default 

Mass = 2.128 kilograms

Volume = 48.456 cubic inches

Surface area = 0.317 square meters

Center of mass: ( meters )
	X = 0.000
	Y = 0.006
	Z = -0.262

Principal axes of inertia and principal moments of inertia: ( kilograms * square meters )
Taken at the center of mass.
	 Ix = (-0.002,  1.000, -0.003)   	Px = 0.003
	 Iy = ( 0.583,  0.004,  0.812)   	Py = 0.013
	 Iz = ( 0.812,  0.000, -0.583)   	Pz = 0.014

Moments of inertia: ( kilograms * square meters )
Taken at the center of mass and aligned with the output coordinate system.
	Lxx = 0.014	Lxy = 0.000	Lxz = 0.001
	Lyx = 0.000	Lyy = 0.003	Lyz = 0.000
	Lzx = 0.001	Lzy = 0.000	Lzz = 0.013

Moments of inertia: ( kilograms * square meters )
Taken at the output coordinate system.
	Ixx = 0.160	Ixy = 0.000	Ixz = 0.001
	Iyx = 0.000	Iyy = 0.149	Iyz = -0.003
	Izx = 0.001	Izy = -0.003	Izz = 0.013
measurements:
0.33m in depth
0.1m in length
0.06m in width
-->    

	
    <visual>
        <geometry>
            <box size="0.33 0.1 0.06"/> <!-- all units are in meters-->
        </geometry>
    </visual>
    <collision>
        <geometry>
		<box size="0.33 0.1 0.06"/>
		</geometry>
    </collision>
	<inertial>
		<mass value="2.128"/> <!-- this is the mass in kilograms-->
		<inertia ixx="0.160" ixy="0.000" ixz="0.001" iyy="0.149" iyz="-0.003" izz="0.013"/> <!-- moment of inertia in kg/m-->
	</inertial>

</link>
    
</robot>